@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');

html {
  font-family: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif;
}

.container {
  @apply mx-auto p-2 md:px-8 py-4 md:py-8; 
  max-width: calc(65ch + 4rem);
}

.examples {
  @apply bg-stone-200 px-8 pb-4 pt-0.5 rounded-lg w-full my-8;
}

def {
  @apply md:opacity-50 opacity-0;
  padding-top: 0.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  width: calc((100vw - 520px) / 2);
  position: absolute;
  display: flex;
  left: -1em;
  justify-content: flex-end;
  font-size: .75rem;
  text-align: right;
}


.prose figure {
  font-size: 0.75rem;
  opacity: 75%;
}

.hover-card {
  @apply bg-gray-100 p-2 rounded-md text-sm shadow-md border-2 border-gray-200 prose prose-sm;
}


.wide {
  @apply md:-mx-32;
  /* margin-left: -8rem;
  margin-right: -8rem; */
}

.cols-2 {
  @apply prose-sm flex flex-wrap wide;
}

.cols-2 div {
  @apply w-full md:w-1/2;
}

.btn {
  @apply bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}

.btn-sm {
  @apply px-1 py-0.5 text-sm;
}