---
import BaseLayout from "./BaseLayout.astro";
import { PartFrontmatter } from "./PartLayout.astro";

export interface ChapterFrontmatter {
    title: string;
    description: string;
    authors?: Record<string, string>;
    published?: boolean;
}

const { frontmatter, url } = Astro.props;
const parentUrl = url.split("/").slice(0, 2).join("/");

let chapterIndex = 1;

const pages = await Astro.glob<PartFrontmatter>("../../pages/**/index.md");
const parts = pages
    .filter((page) => page.url.split("/").length === 2)
    .map((part) => ({
        ...part,
        chapters: pages
            .filter(
                (page) => page.url.startsWith(part.url) && page.url !== part.url
            )
            .map((chapter) => ({
                ...chapter,
                index: chapterIndex++,
            })),
    }));

const part = parts.find((part) => part.url.startsWith(parentUrl));
const thisChapterIndex = part.chapters.find(
    (chapter) => chapter.url === url
).index;
---

<BaseLayout>
    <script src="https://distill.pub/template.v2.js"></script>
    <main class="max-w-screen-md mx-auto p-2 md:p-8">
        <nav class="pb-6">
            <a class="font-bold" href="/">Aligning AI</a> &gt;
            <a href={parentUrl}>{part?.frontmatter?.title}</a>
        </nav>
        <h1 class="text-2xl font-bold">
            {thisChapterIndex}
            {frontmatter.title}
        </h1>
        <hr class="my-4" />
        <article class="prose">
            <slot />
        </article>
    </main>
</BaseLayout>
