---
import Part from "../Part.astro";
import BaseLayout from "./BaseLayout.astro";
import { getHeadings } from "../../utils/toc";
import { CollectionEntry, getCollection } from "astro:content";

export type PartFrontmatter = CollectionEntry<"part">;

const { data, slug } = Astro.props;

const parts = await Promise.all(
    (
        await getCollection("part")
    )
        .filter((part) => part.data.published)
        .map(async (part) => ({
            ...part,
            chapters: (
                await getCollection(
                    "chapter",
                    ({ data }) => data.part === part.slug
                )
            ).filter((chapter) => chapter.data.published),
        }))
);

const part = parts.find((part) => part.slug === slug);
const chapters = part.chapters;
---

<BaseLayout>
    <div class="max-w-screen-md mx-auto p-2 md:p-8">
        <nav class="pb-4">
            <a class="font-bold" href="/">Aligning AI</a>
        </nav>
        <Part title={data.title} chapters={chapters} />
        <slot />
    </div>
</BaseLayout>
