---
import Part from "../Part.astro";
import BaseLayout from "./BaseLayout.astro";

export interface PartFrontmatter {
    title: string;
    description: string;
}

const { frontmatter, url } = Astro.props;

const pages = await Astro.glob<PartFrontmatter>("../../pages/**/index.md");
let chapterIndex = 1;
const parts = pages
    .filter((page) => page.url.split("/").length === 2)
    .map((part) => ({
        ...part,
        chapters: pages
            .filter(
                (page) => page.url.startsWith(part.url) && page.url !== part.url
            )
            .map((chapter) => ({
                ...chapter,
                index: chapterIndex++,
                headings: chapter.getHeadings(),
            })),
    }));

const part = parts.find((part) => part.url === url);
const chapters = part.chapters;
---

<BaseLayout>
    <div class="max-w-screen-md mx-auto p-2 md:p-8">
        <nav class="pb-4">
            <a class="font-bold" href="/">Aligning AI</a>
        </nav>
        <Part title={frontmatter.title} chapters={chapters} />
        <slot />
    </div>
</BaseLayout>
