---
import { getCollection, getEntryBySlug } from "astro:content";
import BaseLayout from "~/components/layouts/BaseLayout.astro";
import Part from "~/components/Part.astro";

const parts = await Promise.all(
  (
    await getCollection("part")
  )
    .filter((part) => part.data.published)
    .map(async (part) => ({
      ...part,
      chapters: await getCollection(
        "chapter",
        ({ data }) => data.part === part.slug
      ),
    }))
);
---

<BaseLayout>
  <div class="container">
    <h1 class="text-4xl font-bold">Aligning AI</h1>
    <hr class="my-4" />
    <div class="flex flex-col gap-4">
      {
        parts.map((part, partIndex) => (
          <Part
            slug={part.slug}
            title={part.data.title}
            index={partIndex}
            chapters={part.chapters}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
