---
import Icon from "astro-icon";

export interface Props {
    value: string;
}

const { value } = Astro.props as Props;
---

<div class="relative code-block">
    <pre>{value}</pre>
    <button class="code-copy absolute top-4 right-4 w-6 h-6">
        <Icon name="ic:round-content-copy" class="text-white" />
    </button>
</div>
<script>
    document.querySelectorAll(".code-copy").forEach((button) => {
        button.addEventListener("click", (event) => {
            const code = event.target
                .closest(".code-block")
                .querySelector("pre").innerText;
            navigator.clipboard.writeText(code);
        });
    });
</script>
